{% extends "base.html" %}

{% block title %}
    Add Project
{% endblock title %}

{% block script%}
<script src="{{ url_for('static', filename='dbproject/import_researchers.js') }}"></script>
{%endblock%}

{% block content%}
<div class="container">
            <form name="project-form" method="POST">
                <div class="row" >
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="col-5">
                    <div class="form-group mb-2">
                        {{ form.title.label(class = "form-label") }}
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.title(class = "form-control", placeholder="Enter title", required = False) }}
                        {% if form.title.errors %}
                        <ul class = "errors">
                            {% for error in form.title.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.summary.label(class = "form-label") }}
                        {{ form.summary(class = "form-control", placeholder="Enter summary", required = False) }}
                        {% if form.summary.errors %}
                        <ul class = "errors">
                            {% for error in form.summary.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">                        
                            {{ form.start_date.label(class = "form-label") }}
                            {{ form.start_date(class = "form-control", required = False) }}
                            {% if form.start_date.errors %}
                            <ul class = "errors">
                                {% for error in form.start_date.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            {{ form.end_date.label(class = "form-label") }}
                            {{ form.end_date(class = "form-control", required = False) }}
                            {% if form.end_date.errors %}
                            <ul class = "errors">
                                {% for error in form.end_date.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div> 
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            {{ form.executive.label(class = "form-label") }}
                            {{ form.executive(class = "form-control", placeholder="Enter amount", required = False) }}
                            {% if form.executive.errors %}
                            <ul class = "errors">
                                {% for error in form.executive.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            {{ form.amount.label(class = "form-label") }}
                            {{ form.amount(class = "form-control", placeholder="Enter amount", required = False) }}
                            {% if form.amount.errors %}
                            <ul class = "errors">
                                {% for error in form.amount.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            {{ form.grade.label(class = "form-label") }}
                            {{ form.grade(class = "form-control", placeholder="Enter grade", required = False) }}
                            {% if form.grade.errors %}
                            <ul class = "errors">
                                {% for error in form.grade.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            {{ form.evaluation_date.label(class = "form-label") }}
                            {{ form.evaluation_date(class = "form-control", required = False) }}
                            {% if form.evaluation_date.errors %}
                            <ul class = "errors">
                                {% for error in form.evaluation_date.errors %}
                                <li class = "text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group col mb-2">
                        {{ form.evaluator.label(class = "form-label") }}
                        {{ form.evaluator(class = "form-control", required = False) }}
                        {% if form.evaluator.errors %}
                        <ul class = "errors">
                            {% for error in form.evaluator.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group col mb-2">
                        {{ form.science_field1.label(class = "form-label") }}
                        {{ form.science_field1(class = "form-control", required = False) }}
                        {% if form.science_field1.errors %}
                        <ul class = "errors">
                            {% for error in form.science_field1.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group col mb-2">
                        {{ form.science_field2.label(class = "form-label") }}
                        {{ form.science_field2(class = "form-control", required = False) }}
                        {% if form.science_field2.errors %}
                        <ul class = "errors">
                            {% for error in form.science_field2.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ form.submit(class = "btn btn-danger btn-submit-custom") }}
                </div>
                <div class="col-7">
                    <div class="form-group col-10 mb-2">
                        {{ form.organisation.label(class = "form-label") }}
                        {{ form.organisation(class = "form-control", required = False) }}
                        {% if form.organisation.errors %}
                        <ul class = "errors">
                            {% for error in form.organisation.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div id = "res" hidden>
                        <div class="form-group col-10 mb-2">
                            {{ form.lead_researcher.label(class = "form-label") }}
                        {{ form.lead_researcher(class = "form-control", required = False) }}
                        {% if form.lead_researcher.errors %}
                        <ul class = "errors">
                            {% for error in form.lead_researcher.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </div>
                        <div class="form-group col-10 mb-2">
                            {{ form.researchers.label(class = "form-label") }}
                            {{ form.researchers(class = "form-control", required = False) }}
                        </div>
                    </div>
                    {% if form.researchers.errors %}
                         <ul class = "errors">
                            {% for error in form.researchers.errors %}
                            <li class = "text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>
                
            </div>
        </form>
    
</div>

{%endblock%}