{% extends "base.html" %}

{% block title %}
{{pageTitle}}
{% endblock title %}

    
    {% block content %}
    <div class = "mt-5">
        <table>
            <tr>
                <th>{{id}}</th>
                <th>Project Title</th>
            </tr>
            {% for r in res %}
            <tr>
                <td>{{r.name}}</td>
                <td>
                    {{r.project}}
                </td>
            </tr>
            {%endfor%}

        </table>

        
        
    </div>
    
    {% endblock content %}