{% extends "base.html" %}

{% block title %}
    All Researchers
{% endblock title %}


{% block content%}
<table class = "table table-striped table-hover">
    <tr>
        <th>Researcher Id</th>
        <th>Researcher Name</th>
        <th></th>
        <th></th>
    </tr>
    {% for r in res %}
    <tr>
        <td>{{r.id}}</td>
        <td>
            {{r.name}}
        </td>
        <td><a class="btn btn-outline-danger" href="{{ url_for('update_researcher', id = r.id)}}">Update</a></td>
        <td><a class="btn btn-outline-danger" href="{{ url_for('delete_researcher', id = r.id)}}">Delete</a></td>
    </tr>
    {%endfor%}
</table>
{% endblock content %}